body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: linear-gradient(135deg, #000428, #004e92);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    animation: fadeInDown 1s ease-out;
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.6);
}

@keyframes fadeInDown {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

header h1 {
    margin: 0;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

header h4 {
    margin-top: 5px; 
    font-size: 1.2rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    color: #ffd700;
    transform: translateY(-3px); 
}

#content {
    padding: 50px 0;
    background-color: #f9f9f9;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #333;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 100px;
    justify-items: center;
    margin: 0 auto;
    margin-bottom: 30px;

}

.news-item {
    background-color: #fff;
    border-radius: 10px;
    padding: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.news-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.news-item img {
    width: 100%;
    height: 200px; 
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.news-item h3 {
    font-size: 1.5rem;
    color: #333;
}

.news-item p {
    color: #666;
    margin-bottom: 15px;
    text-align: justify
}

.read-more {
    display: inline-block;
    background-color: #004e92;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.read-more:hover {
    background-color: #002d5a;
}


footer {
    background: linear-gradient(135deg, #000428, #004e92);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    animation: slideInUp 1s ease-out;
    box-shadow: 0 -8px 6px -6px rgba(0,0,0,0.6);
}

@keyframes slideInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

footer p {
    margin: 0;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8); 
}
